/* Body & Layout */
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/background_img.jpg");
    background-size: cover;       /* passt das Bild an die Fläche an */
    background-position: center;   /* zentriert das Bild */
    background-repeat: no-repeat;  /* verhindert Wiederholung */

}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}



main {
    margin-top: 50px; /*Inhalt nach Header*/
    flex: 1;
    min-height: 1000px;
    
}

/* Hauptbereich als Flex-Container */
.main-content-wrapper {
    display: flex;
    justify-content: space-between; /* wichtig! trennt homeContent und search_results */
    align-items: flex-start;
    padding-left: 100px; /* für Sidebar-Abstand */
    width: 100%;
    box-sizing: border-box;
       
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 0;
}

/*Header Section*/

header {
    display: flex;
    justify-content: space-between;             /* Drei Bereiche verteilen */
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.5);
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 50px;                               /* oder beliebige Höhe */
    width: 100%;
    z-index: 1000;                          /* Sicherstellen, dass der Header über anderen Inhalten liegt */   
}

/*Logo und Icon*/
.icon_container {
    display: flex;
    align-items: center;         /* vertikal mittig */
    justify-content: center;     /* Icon links, Text daneben */
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
    color:aliceblue;
    padding-left: 10px;

}

.icon {
    max-height: 40px;
    object-fit: cover;
    border-radius: 50%;   
}

/*Navbar*/

.nav_bar {
    display: flex;
    align-items: center;        /* vertikal mittig */
    justify-content: center;    /* zentriert die Links */
    gap: 20px;                  /* Abstand zwischen Links */
    list-style: none;
    margin: 0;       /* Entfernt Standard-Margin */
    padding: 0;
}

.nav {
    text-decoration: none;
    color:aliceblue;
    font-size: 18px;
    font-weight: bold;
}

.nav:hover {
    color: rgb(4, 248, 4); /* Farbe beim Hover */
    transition: color 0.3s ease; /* sanfter Übergang */
    cursor:default; /* Zeiger bleibt Standard */
    

}

/*Searchbar*/

.search_container {
    display: flex;
    align-items: center; /* vertikal mittig */
    background-color: aliceblue;
    border-radius: 30px;
    padding: 1px 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
    gap: 8px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 14px;
  flex: 1;
  min-width: 250px;
}

.search-icon-btn {
  background: none;
  border: none;
}
/* Button Styles */
.search-button, .clear-button, #book_btn, .visit_btn {
  border: none;
  border-radius:5px;
  font-size: 16px;
  color:aliceblue
}

.search-button, #book_btn, .visit_btn {
    background-color: rgb(4, 248, 4);
}

.clear-button {
    background-color: rgb(248, 4, 4);
}

.clear-button:hover, .search-button:hover, #book_btn:hover, .visit_btn:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

/*search results*/
.search_results {
    position: relative; 
    width: 400px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    text-align: center;
    z-index: 100;
    margin-top:10px;         
}

   

#search_results {
   
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin-top: 10px;
  margin-left: auto; 
  margin-right:10px; 
}


.destination_img {  
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px; /* Abgerundete Ecken */
}

/*Main Section*/

.home_content {
    position: relative;
    flex: 1 1 0;  
    max-width: 600px;
    z-index: 1;
    margin-top: 0;
}

.home_form {
    color:aliceblue;
    font-size: 20px;
    z-index: 1;
}
#home_headline {
    color: aliceblue;
    font-size: 60px;
}

/* About-Us Section */

.about_div {
    display: flex;
    flex-direction: column; /* Sidebar und Content nebeneinander */
    margin-top: 50px; /* Abstand zum Header */
    margin-left: 150px; /* Abstand zur Sidebar */
    width: 1000px;
}

.about_form {
    color: aliceblue;
    font-size: 20px;
    z-index: 1;
}

.about_label {
    color: aliceblue;
    font-size: 60px;
    font-weight: bold;
}

/* About-Us Our Team Section */


.our_team_div {
    display: flex;
    gap: 80px;
    margin-left: 200px;
    margin-top: 40px; /* Abstand zum Header */
    color:aliceblue; 
    align-items: center;  
}

.our_team_title {
  font-size: 36px;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
  z-index: 1;
}

.our_team_cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.team_card {
  background-color: rgba(0, 0, 0, 0.2); /* halbtransparent für Lesbarkeit */
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  z-index: 1;
}

.team_card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
}

.team_card p {
  font-size: 14px;
  color: #dcdcdc;
  margin-bottom: 10px;
}

.team_card button {
  background-color: #3949ab;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}


/* Contact Section */

.contact_div {
    display: flex;
    gap: 100px;
    margin-left: 200px;
    margin-top: 200px; /* Abstand zum Header */
    color:aliceblue; 
    align-items: center; 
}

.contact_header {
    z-index: 1;
}
.contact_header h1 {
    font-size: 60px;
    font-weight: bold;
    white-space: nowrap;
}

.contact_header p{
    font-size: 20px;
    margin: 20px 0;
}


fieldset {
    background-color: rgba(0, 0, 0, 0.2); /* halbtransparent für Lesbarkeit */
    border: none;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    z-index: 1;
}

#message, #name, #email {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: aliceblue;
    resize: none;
}

#submit_btn {
    background-color: rgb(4, 248, 4);
    color: aliceblue;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 50px;                                              /* Höhe des Headers */
    left: -20px;                                             /* Abstand von der linken Seite */
    width: 100px;                                           /* Breite der Sidebar */
    height: calc(100% - 50px);                              /* Höhe der Sidebar */
    display: flex;
    flex-direction: column;
    align-items: center; 
   
    
}
.sidebar-separator {
    width: 3px;
    height: 200px; 
    background-color: aliceblue;
    border: none;
    border-radius: 10%;
    margin-top: 40px;
    margin-bottom: 60px;
    
}

.icon_sidebar {
    max-height: 30px;
    object-fit: cover;
    border-radius: 50%;   
}


/*Footer Section*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height:35px;
    color:aliceblue;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.4);
    }
#copyright {
    font-size: 14px;
    padding: 0px;
    display: flex;
    align-items: center;      
    justify-content: center;
    font-weight: bold; 
    
}

/* popup */
.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  padding: 50px;
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
  
}
#popup_btn {
  background-color: rgb(4, 248, 4);
  color: aliceblue;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;

}